{{if id}}<form action="#/client/${id}" method="put" class="client edit">
{{else}}<form action="#/clients" method="post" class="client new">{{/if}}
  <img id="image">
  <label>Display Name
    <input type="text" name="displayName" value="${displayName}" size="30" required autofocus>
    <p class="hint">This is the application name that users see when asked to authorize.</p>
  </label>
  <label>Site URL
    <input type="url" name="link" value="${link}" size="30" required>
    <p class="hint">This is a link to the application's site.</p>
  </label>
  <label>Image URL
    <input type="url" name="imageUrl" value="${imageUrl}" size="30">
    <p class="hint">This is a link to the application's icon (48x48).</p>
  </label>
  <label>Redirect URI
    <input type="url" name="redirectUri" value="${redirectUri}" size="30" required>
    <p class="hint">Users redirected back to this URL on successful authorization.</p>
  </label>
  {{if id}}<button>Save Changes</button>
  {{else}}<button>Create Client</button>{{/if}}
</form>
<script type="text/javascript">
  $(function() {
    var image = $("#image");
    image.load(function() {
      image.show().removeClass("loading");
    }).error(function() {
      if (image.attr("src"))
        image.removeClass("loading");
    });

    var imageUrl = $("input[name=imageUrl]");
    imageUrl.change(function() {
      var url = $(this).val().trim();
      if (url == "") {
        image.hide();
      } else {
        image.attr("src", "admin/images/loading.gif").show().addClass("loading");
        setTimeout(function() { image.attr("src", url); }, 10);
      }
    }).trigger("change");

    $("input[name=link]").change(function() {
      if (imageUrl.val().trim() == "") {
        $("#image").show().addClass("loading").attr("src", null);
        var image = new Image();
        image.src = $(this).val().trim().replace(/^(https?:\/\/)(.+?)(\/.*|$)/, "$1$2/favicon.ico");
        image.onload = function() {
          if (imageUrl.val().trim() == "") {
            imageUrl.val(image.src).trigger("change");
          } 
        }
      }
    });
  })
</script>
