{{if id}}<form action="#/client/${id}" method="put" class="client edit">
{{else}}<form action="#/clients" method="post" class="client new">{{/if}}
  <img id="image">
  <label>Display Name
    <input type="text" name="displayName" value="${displayName}" size="30" autofocus>
    <p class="hint">This is the application name that users see when asked to authorize.</p>
  </label>
  <label>Site URL
    <input type="text" name="link" value="${link}" size="30">
    <p class="hint">This is a link to the application's site.</p>
  </label>
  <label>Image URL
    <input type="text" name="imageUrl" value="${imageUrl}" size="30">
    <p class="hint">This is a link to the application's icon (48x48).</p>
  </label>
  <label>Redirect URI
    <input type="text" name="redirectUri" value="${redirectUri}" size="30">
    <p class="hint">Users redirected back to this URL on successful authorization.</p>
  </label>
  {{if id}}<button>Save Changes</button>
  {{else}}<button>Create Client</button>{{/if}}
</form>
<script type="text/javascript">
  $("input[name=imageUrl]").change(function() {
    var url = $(this).val();
    if (url.match(/https?:/i))
      $("#image").attr("src", url).show();
    else
      $("#image").hide();
  }).trigger("change");
</script>
